@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    /* width: 100%; */
}

::selection {
    background: rgba(0, 0, 0, .2);
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

/* header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}
.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
} */

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
}

#text {
    /* padding-top: -11vw; */
    position: absolute;
    font-size: 7.813vw;
    color: #fff;
    text-shadow: 0vw 0.313vw 0.313vw rgba(0, 0, 0, 0.5);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#leaf {
    margin-left: 23.438vw;
    width: 80%;
    height: 46.875vw;
}

#plant{
    margin-top: 20.563vw;
}

#hill1 {
    margin-top: -6.250vw;
}

#hill4 {
    margin-top: -6.250vw;
}

#tree1 {
    margin-top: -6.250vw;
    margin-left: 9.375vw;
}

#tree2 {
    height: 39.063vw;
    width: 65.625vw;
    margin-top: 20.313vw;
    margin-left: 15.625vw;
}

.sec1 {
    position: relative;
    display: flex;
    background: #003329;
    padding: 7.031vw 5.122vw 8.734vw 5.122vw;
    height: 57.063vw;
}

.sec1-left{
    display: flex;
    flex-direction: row;
    background-color: #003329;
    padding-left: -4vw;
    width: 65%;
    justify-content: space-evenly;
}

.text-dis {
    display: none;
    margin-top: 19.4vw;
    margin-right: 12vw;
    position: absolute;
    font-size: 3vw;
    color: #fff;
    font-weight: bold;
    text-shadow: 0vw 0.313vw 0.313vw rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

.poster {
    width: 35.063vw;
    height: 44.3vw;
}


.synopsis {
    font-weight: 700;
    font-size: 5.813vw;
    color: white;
    height: fit-content;
    width: fit-content;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    padding-left: 3.469vw;
}

.kanan{
    /* background-color: white; */
    color: white;
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 0vw 2vw 0vw 0vw;
    justify-content: space-between;
}

.kanan .frame-1-1{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.kanan .judul-isi{
    font-weight: 700;
    font-size: 1.512vw;
}

.kanan .isi{
    font-weight: 500;
    font-size: 1.225vw;
}

.frame-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 7.813vw;
}

/* SECTION 2 */

.sec2 {
    position: relative;
    display: flex;
    background: #003329;
    height: 47vw;
}


/* SECTION 3 */

.sec3 {
    position: relative;
    display: flex;
    background: #003329;
    padding: 3.078vw 7.422vw 0vw 7.422vw;
    height: 50.375vw;
}

.sec3-kiri {
    color: white;
    /* background-color: aqua; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vw 0vw 5vw 0vw;
    align-content: space-between;
}

.sec3-kiri  .frame-1-1{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.sec3-kiri  .judul-isi{
    font-weight: 700;
    font-size: 1.512vw;
}

.sec3-kiri  .isi{
    font-weight: 500;
    font-size: 1.225vw;
}

.frame-1{
    display: flex;
    flex-direction: row;
}

#row1 {
    padding-right: 10.063vw;
}

#row2 {
    /* background-color: red; */
    padding-right: 4.48vw;
}

#row3 {
    width: 100%;
    height: 8.203vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

#row3-1 {
    padding-right: 3vw;
}

#row3-2 {
    margin-right: -5.469vw;
}

#row5 {
    padding-right: 2.36vw;
}

.sec1-left img:hover{
    transform: translateY(-20px);
    transition: transform 0.2s ease 0s;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sec3-kanan {
    height: 100%;
    height: 45.125vw;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 2.172vw;
    /* margin-top: 2vw; */
    padding-top: 3vw;
}

.box {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;

}

.box div {
    font-size: 5.250vw;
    font-weight: bold;
    color: white;
}

.box img {
    width: 15.422vw;
    height: 11.688vw;
}

.box img:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease 0s;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.our-team {
    height: 11.688vw;
    width: 15.422vw;
}
